.home-jumbotron {
	@include make-row();
	@extend .jumbotron;
	margin: {
		top: -10px;
		left: -30px;
		right: -30px;
	}
	border-radius: 0 !important;
	background-color: #ccc;
}

.home .thumbnail {
	color: #fff;
	padding-top:20px;
	padding-bottom: 10px;
	a {
		color: inherit;
		&:hover, &:active {
			text-decoration: none;
			color: inherit;
		}
	}
	&:hover {
		color: #eee;
	}
}